DATABASE_URL=
DEVICE_API_KEY=
JWT_SECRET=
BREVO_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
BLOCKCHAIN_RPC_URL=
BLOCKCHAIN_CONTRACT_ADDRESS=

# Frontend (Public Configuration)
VITE_API_URL=
